<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarParkingAssistant</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

</head>
<body>
    <header class="site-header">
        <div class="site-info">
            <a class="site-info-link hyperlink-undecorated" href="/">
                <img src="resources/img/siteLogo.png" alt="" class="site-logo" />
                <h2 class="site-name"> CarParkingAssistant</h2>
            </a>
        </div>
        <div class="site-header-right">
            <div>
                <nav class="site-nav">
                    <ul class="site-nav-list">
                        <li class="site-nav-list-item">
                            <a href="@Url.Action("Index", "Booking")" class="site-nav-hyperlink hyperlink-undecorated">Book</a>
                        </li>
                        <li class="site-nav-list-item">
                            <a href="@Url.Action("Index", "Parking")" class="site-nav-hyperlink hyperlink-undecorated">Find</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="site-user">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <main class="site-content">@RenderBody()</main>
    <footer class="site-footer">
        @DateTime.Now.Year.ToString()
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
