@using CarParkingAssistant.Core.Models
@model AdminParkingViewModel

<div class="item-table-div">
    <div class="items-table-search-div">
        Search:
        <input class="items-table-searchbar" type="text" />
        <div class="items-table-search-button">Submit</div>
    </div>
    <table class="items-table">
        <thead>
            <tr>
                <th>Address</th>
                <th>Slots</th>
                <th>Price</th>
                <th>Worker</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parking in Model.Parkings)
            {
                <tr>
                    <td>@parking.Address</td>
                    <td>@parking.NumSlots</td>
                    <td>@parking.Price</td>
                    <td>
                        @{
                            if (parking.Worker != null)
                            {
                                @($"{parking.Worker.FirstName} {parking.Worker.LastName}")
                            }
                            else
                            {
                                @("-")
                            }
                        }
                    </td>
                    <td>
                        <div class="items-table-controls">
                            <a asp-action="Edit" asp-controller="Parking" asp-area="Admin" asp-route-id="@parking.Id"> <i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Delete" asp-controller="Parking" asp-area="Admin" asp-route-id="@parking.Id"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-area="Admin" asp-controller="Parking" asp-action="Add">ADD</a>
<script src="~/js/parkingList.js"></script>
<script src="https://kit.fontawesome.com/a3d546e7b4.js" crossorigin="anonymous"></script>
